:root {
    --txt-color: #152a45;
    --vini-groen: #72afa6;
    --vini-geel: #f4eb34;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Montserrat, sans-serif;
    height: 100vh;
}

.navigation-bar {
    width: 100%;
    position: relative;
    overflow: auto;
    border-bottom: 1px solid var(--txt-color);
}

.navigation-bar .navigation-menu ul li {
    list-style: none;
}

.navigation-menu {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navigation-logo {
    padding: 10px;
}

.navigation-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
}

.navigation-items ul li a {
    text-decoration: none;
    color: var(--txt-color);
}

.navigation-items ul li a:visited {
    color: var(--txt-color);
}

.navigation-items ul li a i {
    font-size: 21px;
}

.navigation-items ul li a i,
.navigation-items ul li a {
    transition: .6s;
}

.navigation-items ul li a i:hover,
.navigation-items ul li a:hover {
    color: var(--vini-groen);
    transition: .4s;
}

.box-advice {
    padding: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    grid-template-rows: 1fr;
    /* background-color: red; */
}

.box-advice section {
    width: 13em;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
    aspect-ratio: 1/1;
    background-color: white;
    box-shadow: 2px 0px 10px var(--txt-color);
    font-size: 1em;
}

@media (max-width: 1400px) {
    .box-advice {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1020px) {
    .box-advice {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 780px) {
    .box-advice {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .box-advice {
        grid-template-columns: repeat(1, 1fr);
    }
}
